ion-content{
    --background: url('../../../assets/icon/floor.jpg') no-repeat center center / cover;
}

/* Player Card */
ion-card{
	background-color: white;
	box-shadow: 1px 1px 10px black;
  margin: 60px auto;
  text-align: center;
  width: 40vh;
}
    
ion-card-subtitle{
  margin: 10px auto;
}


.navbarIconColor {
  color: orange;
}